<div class="homepage">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 center">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Welcome to Fast Order!.</h1>
          <p class="lead">
            <% if user_signed_in? %>
              <%= link_to "Continue to dashboard", orders_path, class: "btn btn-primary btn-sm" %>
            <% else %>
              Custom tailored ordering process powered by Pirate Bay Printing.<br>
              To begin, you need to either <%= link_to 'Register', new_user_registration_path, class: "btn btn-info btn-sm" %> or <%= link_to "Log in", new_user_session_path, class: "btn btn-success btn-sm" %>.</p>
            <% end %>   
        </div>
      </div>
    </div>
  </div>
</div>