<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @order.user.email %></h3>
    <p>
      Order #<%= @order.id %> has been approved by a customer service representitive and is currently awaiting product.
    </p>
  </body>
</html>