<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @order.user.email %></h3>
    <p>
      The product for order #<%= @order.id %> has been accounted for and is now ready for printing.
      <%= link_to 'View Order', order_url(@order) %>
    </p>
  </body>
</html>