<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello <%= @message.order.user.email %>,</h3>
    <p>
      <%= @message.body %>
    </p>
    <br>
    <br>
    <%= link_to 'View Order', order_url(@order) %>
  </body>
</html>