<p id="notice"><%= notice %></p>
Total: <%= @sum  %><br>
<div class="card">
  <div class="card-body">
    <div class="card-title bg-primary center"><h3>% of Color</h3></div>
    <%= render 'color_percentage' %>
  </div>
<div class="card">
  <div class="card-body">
    <div class="card-title bg-primary center"><h3>% of Size</h3></div>
    <%= render 'size_percentage' %>
  </div>
</div>

